@page "/"
@layout LandingPageLayout

<PageTitle>Fridgelr - Inspire your next meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://dominicwegrzynowski.dev" target="_blank">Author</a>
            </div>
        </nav>
        <main class="landing-page">
            <div class="text-center">
                <img src="images/AiChefLogoLight.png" height="300" />
            </div>
            <div class="text-center">
                <a class="btn btn-success btn-lg mt-3 mb-3" href="/createmeal">Get Started</a>
            </div>
        </main>
        <footer class="text-center p-2">
            &copy; Dominic Wegrzynowski 2023
        </footer>
    </div>
</div>